react
react-dom
react-router-dom
react-icons
react-redux
@reduxjs/toolkit
tailwindcss
postcss
autoprefixer
react-masonry-css
vite
axios
framer-motion
aos
react-slick
slick-carousel
swiper
uuid
@vitejs/plugin-react